/.classpath
/.metadata/
/.settings/
/workspace/
/**/bin/
/**/target/
/**/xtend-gen/**/*.xtendbin
/**/xtend-gen/**/*._trace
/**/*.orig
/**/.META-INF_MANIFEST.MF
/**/.polyglot.*
/**/.tycho-*
/**/pom.tycho
