<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
Copyright (c) 2018-2024 TNO and Contributors to the GitHub community

This program and the accompanying materials are made available
under the terms of the MIT License which is available at
https://opensource.org/licenses/MIT

SPDX-License-Identifier: MIT
-->
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="Model Inference and Differencing Suite"
            name="MIDS v1.0">
         <property
               name="appName"
               value="MIDS">
         </property>
         <property
               name="aboutText"
               value="Model Inference and Differencing Suite">
         </property>
         <property
               name="introTitle"
               value="Welcome to the Model Inference and Differencing Suite">
         </property>
         <property
               name="aboutImage"
               value="images/mids_lg.png">
         </property>
         <property
               name="windowImages"
               value="images/mids16.png,images/mids32.png,images/mids48.png,images/mids256.png">
         </property>
         <property
               name="startupForegroundColor"
               value="9C9696">
         </property>
         <property
               name="startupMessageRect"
               value="4,94,405,20">
         </property>
         <property
               name="startupProgressRect"
               value="4,114,405,10">
         </property>
         <property
               name="introBrandingImage"
               value="product:images/intro-mids-bw.png">
         </property>
         <property
               name="introBrandingImageText"
               value="MIDS">
         </property>
         <property
               name="introDescription-root"
               value="Welcome to MIDS">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="nl.tno.mids.product.branding.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.quicklinks">
      <url
            description="Read the MIDS documentation."
            icon="platform:/plugin/org.eclipse.ui.intro.universal/themes/solstice/graphics/icons/ctool/start-cheatsheet.png"
            importance="high"
            label="MIDS documentation"
            location="http://org.eclipse.ui.intro/showHelpTopic?id=/nl.tno.mids.documentation/index.html">
      </url>
      <command
            description="Get started with the MIDS examples."
            icon="platform:/plugin/org.eclipse.ui.intro.universal/themes/solstice/graphics/icons/ctool/import-existing-project.png"
            id="org.eclipse.ui.newWizard(newWizardId=nl.tno.mids.product.examples.MidsExamplesWizard)"
            importance="high"
            label="Import MIDS examples"
            resolution="standby">
      </command>
      <command
            description="Create a new empty project for storing your models and other files."
            icon="platform:/plugin/org.eclipse.ui.intro.universal/themes/solstice/graphics/icons/ctool/new-project.png"
            id="org.eclipse.ui.newWizard(newWizardId=org.eclipse.ui.wizards.new.project)"
            importance="high"
            label="Create empty project"
            resolution="standby">
      </command>
   </extension>
</plugin>
